[user]
	email = mohamed.ali.saidina+github@gmail.com
	name = lpl
[color]
    ui = auto
    showbranch = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = green
    changed = yellow
    untracked = red
[color "interactive"]
    prompt = yellow
    header = green
    help = cyan
    error = magenta
[color "grep"]
    context = white
    filename = yellow
    function = green
    linenumber = cyan
    match = yellow reverse
    selected = normal
    separator = magenta
[push]
    default = upstream

[branch]
    autosetuprebase = always
[merge]
    tool = meld
[alias]
	a = add
	aa = add --all
	ci = commit
	ca = commit -a
	cm = commit -m
	cmn = commit --no-verify
	cmd = commit --amend
	cmdn = commit --amend --no-verify
	d = diff
	ps = push
	pl = pull
	ss = status
	sb = status -sb
	mt = mergetool
    co = checkout
    cb = checkout -b
