# --------------------------------------------------------------------------------
# Author: Lee Pai Long <lee-pai-long@users.noreply.github.com>
# Date:   2016-04-20 17:29:55
# Last modified by Lee Pai Long on 2016-04-20 17:58:23
# License: WTFPL <http://www.wtfpl.net/>
# --------------------------------------------------------------------------------

[client]
pager = grcat ~/.grcat
