"*":
  "atom-beautify":
    general:
      _analyticsUserId: "3d85720d-ce50-460c-a74f-873b14c96b81"
  "atom-html-preview": {}
  "atom-material-ui":
    colors:
      abaseColor:
        red: 239
        green: 90
        blue: 41
        alpha: 1
      accentColor:
        red: 119
        green: 183
        blue: 83
        alpha: 1
      genAccent: true
    fonts: {}
    tabs: {}
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  "atom-perl-prove": {}
  "autoclose-html": {}
  "autocomplete-python": {}
  core:
    disabledPackages: [
      "live-doc-viewer"
      "unity-shader-files"
      "atom-perl-prove"
      "change-case"
      "keybinding-resolver"
      "language-c"
      "language-clojure"
      "language-csharp"
      "language-go"
      "language-java"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-php"
      "language-ruby-on-rails"
      "language-toml"
      "language-xml"
      "metrics"
      "open-on-github"
      "welcome"
      "markdown-themeable-pdf"
      "autoclose-html"
      "w3c-validation"
      "atom-html-preview"
      "symbols-view"
      "about"
      "git-log"
      "scroll-sync"
      "bookmarks"
      "atom-yamljson"
      "file-header"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "imdone-atom"
      "atom-html-preview"
      "bracket-matcher"
      "encoding-selector"
    ]
    themes: [
      "atom-material-ui"
      "one-dark-syntax"
    ]
  editor:
    backUpBeforeSaving: true
    invisibles: {}
    preferredLineLength: 154
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "c1faf14c-ac05-8a88-e5c3-31e6940a6606"
  "file-header":
    autoAddingHeaderEnabled: false
    configDirPath: "/home/sma/myconfigs/atom_file-header"
    dateTimeFormat: "YYYY-MM-DD HH:mm:ss"
    email: "lee-pai-long@users.noreply.github.com"
    license: "WTFPL <http://www.wtfpl.net/>"
    numOfEmptyLinesAfterNewHeader: 1
    realname: "Lee Pai Long"
    username: "sma"
  "git-diff":
    showIconsInEditorGutter: true
  "git-log": {}
  "header-42": {}
  "imdone-atom": {}
  linter:
    errorPanelHeight: 101
  "linter-flake8":
    ignoreErrorCodes: [
      "D203"
      "E402"
    ]
    maxLineLength: 200
  "linter-perl": {}
  "live-doc-viewer":
    command1: {}
    command2: {}
    command3: {}
    command4: {}
    command5: {}
  "markdown-preview":
    useGitHubStyle: true
  minimap: {}
  "opened-files":
    removeOnClose: true
  pacmanfy: {}
  "project-view": {}
  "spell-check": {}
  "todo-show":
    findTheseTodos: [
      "FIXME:SMA"
      "TODO:SMA"
      "CHANGED:SMA"
      "XXX:SMA"
      "IDEA:SMA"
      "HACK:SMA"
      "NOTE:SMA"
      "REVIEW:SMA"
    ]
    findUsingRegex: "/\\b(${TODOS})[;.,]?\\d*($|\\s.*$|\\(.*$)/g"
    openListInDirection: "ontop"
    sortAscending: false
    sortBy: "Type"
  "tree-view":
    hideVcsIgnoredFiles: true
  "w3c-validation":
    hideOnNoErrors: true
    useFoldModeAsDefault: true
  welcome:
    showOnStartup: false
".html.text.tt":
  editor:
    preferredLineLength: 143
".salt.source":
  editor:
    tabLength: 2
".source.yaml":
  editor:
    tabLength: 2
