"*":
  "exception-reporting":
    userId: "c1faf14c-ac05-8a88-e5c3-31e6940a6606"
  welcome:
    showOnStartup: false
  editor:
    invisibles: {}
    tabLength: 4
    backUpBeforeSaving: true
    tabType: "soft"
    fontSize: 16
    preferredLineLength: 143
  core:
    themes: [
      "atom-material-ui"
      "one-dark-syntax"
    ]
    autoHideMenuBar: true
    disabledPackages: [
      "live-doc-viewer"
      "unity-shader-files"
      "atom-perl-prove"
      "change-case"
      "keybinding-resolver"
      "language-c"
      "language-clojure"
      "language-csharp"
      "language-go"
      "language-java"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-php"
      "language-ruby-on-rails"
      "language-toml"
      "language-xml"
      "metrics"
      "open-on-github"
      "welcome"
      "atom-beautify"
      "markdown-themeable-pdf"
      "autoclose-html"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "imdone-atom"
      "atom-html-preview"
      "bracket-matcher"
    ]
  minimap: {}
  "header-42": {}
  "live-doc-viewer":
    command1: {}
    command2: {}
    command3: {}
    command4: {}
    command5: {}
  "atom-perl-prove": {}
  "linter-perl": {}
  linter:
    errorPanelHeight: 101
    showErrorPanel: false
  "git-log": {}
  "file-header":
    realname: "Lee Pai Long"
    dateTimeFormat: "YYYY-MM-DD HH:mm:ss"
    autoAddingHeaderEnabled: false
    email: "lee-pai-long@users.noreply.github.com"
    license: "WTFPL <http://www.wtfpl.net/>"
    numOfEmptyLinesAfterNewHeader: 1
    configDirPath: "/home/sma/myconfigs/atom_file-header"
  "linter-flake8":
    ignoreErrorCodes: [
      "D203"
      "E402"
    ]
    maxLineLength: 200
  "atom-beautify":
    _analyticsUserId: "3d85720d-ce50-460c-a74f-873b14c96b81"
  "atom-material-ui":
    fonts: {}
    colors:
      abaseColor:
        red: 239
        green: 90
        blue: 41
        alpha: 1
      accentColor:
        red: 119
        green: 183
        blue: 83
        alpha: 1
      genAccent: true
    ui:
      panelShadows: true
      panelContrast: true
    tabs: {}
    treeView:
      compactList: true
  pacmanfy: {}
  "autocomplete-python": {}
  "spell-check": {}
  "git-diff":
    showIconsInEditorGutter: true
  "tree-view":
    hideVcsIgnoredFiles: true
  "imdone-atom": {}
  "atom-html-preview": {}
  "autoclose-html": {}
".html.text.tt":
  editor:
    preferredLineLength: 143
".salt.source":
  editor:
    tabLength: 2
".source.yaml":
  editor:
    tabLength: 2
