# ------------------ Keybinding config for atom ----------------------------------
#               original location :  ~/.atom/keymap.cson
# Author: Lee Pai Long <lee-pai-long@users.noreply.github.com>
# Date:   2016-04-20 16:38:03
# Last modified by Lee Pai Long on 2016-04-20 18:00:14
# License: WTFPL <http://www.wtfpl.net/>
# --------------------------------------------------------------------------------

'atom-text-editor':
  # Keybidding to imdone plugin
  'alt-t': 'imdone-atom:tasks'

  # Resolve keybinding conflit for key-binding-resolver
  'ctrl-alt-k': 'key-binding-resolver:toggle'

  # resolve not working mac os keybinding for file-header
  'ctrl-shift-h': 'file-header:add'

  # change Atom HTML Preview keybinding to not conflit with file-header
  'alt-shift-h': 'atom-html-preview:toggle'

  # -- bracket-matcher --------------------------------------------------------------------
  # easier html/xml closing tag
  'alt-end': 'bracket-matcher:close-tag'
  'ctrl-m': 'bracket-matcher:go-to-matching-bracket'
  'ctrl-]': 'bracket-matcher:remove-brackets-from-selection'
  'ctrl-alt-m': 'bracket-matcher:select-inside-brackets'
  'ctrl-alt-backspace': 'bracket-matcher:remove-matching-brackets'

  # -- atom edit text keybinding ----------------------------------------------------------
  # uppercase selected text (disable encoding-selector keybinding fist!)
  'alt-u': 'editor:upper-case'
  # lowercase selected text
  'alt-l': 'editor:lower-case'
