# ------------------------ YAML grammar config for atom --------------------------
#            original location :  ~/.atom/grammar-config/yaml.cson
#
# Author: Lee Pai Long <lee-pai-long@users.noreply.github.com>
# Date:   2016-04-20 16:38:11
# Last modified by Lee Pai Long on 2016-04-20 17:44:28
# License: WTFPL <http://www.wtfpl.net/>
# --------------------------------------------------------------------------------

tabLength: 2
extensionConfig:
  # tabLength for kivy setting files
  kv:
    tabLength: 4
