'atom-text-editor':
  # Keybidding to imdone plugin
  'alt-t': 'imdone-atom:tasks'

  # Resolve keybinding conflit for key-binding-resolver
  'ctrl-alt-k': 'key-binding-resolver:toggle'

  # resolve not working mac os keybinding for file-header
  'ctrl-shift-h': 'file-header:add'

  # change Atom HTML Preview keybinding to not conflit with file-header
  'alt-shift-h': 'atom-html-preview:toggle'

  # -- bracket-matcher --------------------------------------------------------------------
  # easier html/xml closing tag
  'alt-end': 'bracket-matcher:close-tag'
  'ctrl-m': 'bracket-matcher:go-to-matching-bracket'
  'ctrl-]': 'bracket-matcher:remove-brackets-from-selection'
  'ctrl-alt-m': 'bracket-matcher:select-inside-brackets'
  'ctrl-alt-backspace': 'bracket-matcher:remove-matching-brackets'

  # -- atom edit text keybinding ----------------------------------------------------------
  # uppercase selected text (disable encoding-selector keybinding fist!)
  'alt-u': 'editor:upper-case'

  # lowercase selected text
  'alt-l': 'editor:lower-case'

  # select word
  'alt-w': 'editor:select-word'

  # comment select lines
  'alt-shift-C': 'editor:toggle-line-comment'
