'.source.perl':
  'Subroutine Header':
    'prefix': 'sub'
    'body': """
    # ${1:}
    # --------------------------------------------------------------------------------------------------------------
    # ${2:}
    # Input     : ${3:}
    # Output    : ${4:}
    # Internal  : ${5:}
    # Raise     : ${6:}
    sub ${7:} {

    }
    """
